body {
	font-family: 'Knewave', cursive;
	color: #8fa854;
	background-color: #f0f2bc;
	text-align: center;
}

img {
	height: 150px;
	width: auto;
	padding: 7px;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 3 1fr;
	margin: 50px auto;
}

.g2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 50px auto;
}