/*Animations*/

/*@keyframes moveLeft {
	0%{
		opacity:0;
		transform: translateX(-100px);

	}
	80% {
		transform: translateX(15px);
	}
	100% {
		opacity:1;
		transform: translateX(0);
	}

}

@keyframes moveRight {
	0%{
		opacity:0;
		transform: translateX(100px);
	}
	80% {
		transform: translateX(-15px);
	}
	100%{
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveBtn {
	0%{
		opacity:0;
		transform: translateY(50px);
	}
	
	100%{
		opacity: 1;
		transform: translate(0);
	}
}*/

/*Body*/

:root {
	--success-color: #2ecc71;
	--error-color: #e74c3c;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	padding: 20px;
	font-family: 'Fredericka the Great', cursive;
	color: #ff8c00;
	/*background-color: #fff;*/
	text-align: center;
}

/*Header*/

.header {
	height: 80vh;
	background-image: linear-gradient(to right bottom, rgba(143, 168, 84, 0.5), rgba(240, 242, 188, 0.5)),
		url(../img/fruits.jpg);
	background-size: cover;
	background-position: center;
	-webkit-clip-path: polygon(0 3vh, 100% 0, 100% 94vh, 0 100%);
	position: relative;
}

.heading-p {
	color: #fff;
	text-transform: uppercase;

	backface-visibility: hidden;
}

.heading-pmain {
	display: block;
	font-size: 60px;
	letter-spacing: 20.1px;
	font-weight: 400;
	animation-name: moveRight;
	animation-duration: 1s;
	animation-timing-function: ease-out;
}

.heading-smain {
	display: block;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 11.4px;
	animation-name: moveLeft;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	padding-bottom: 40px;
}

.text-box {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.btn:link,
.btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 25px;
	padding: 10px 30px;
	display: inline-block;
	border-radius: 20px;
	transition: all .2s;
	position: relative;
}
.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.btn-white {
	background-color: #fff;
	color: #ff8c00;
}

.btn-animate {
	animation: moveBtn .5s ease-out .75s;
	animation-fill-mode: backwards;
}

.btn::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all .4s;
}

.btn-white::after {
	background-color: #fff;
}

.btn:hover::after {
	transform: scaleX(1.1) scaleY(1.4);
	opacity: 0;
}

/*Welcome*/
.welcome {
	padding-top: 20px;
}

/*Selection*/
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 3 1fr;
	margin: 50px auto;
}

img {
	height: 150px;
	width: auto;
	padding: 7px;
}

/*Order Bar*/

.attention {
	font-size: 60px;
	letter-spacing: 15.1px;
	font-weight: 400;
	/*text-decoration: underline;*/
}

.scroll {
	padding-right: 17px;
	height: 120px;
	overflow-y: scroll;
	position: relative;
}

.g2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 50px auto;
	padding-bottom: 50px;
	text-transform: uppercase;
}

.up {
	text-transform: uppercase;
	padding-bottom: 20px;
}

/*.bGrid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 30px;
}*/

.prettyB {
	background-color: #ff8c00;
	border: none;
	border-radius: 12px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.selector {
	display: inline-block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #ff8c00;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 60%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: rgba(240, 242, 188, 0.5);
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
		linear-gradient(to bottom, rgba(143, 168, 84, 0.5) 0%, rgba(240, 242, 188, 0.5)100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.selector::-ms-expand {
	display: none;
}
.selector:hover {
	border-color: #888;
}
.selector:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 1px #ff8c00;
	box-shadow: 0 0 0 1px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.selector option {
	font-weight: normal;
}

/* Register Sign up Form  */

.container {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	width: 80%;
	/* display: block; */
}

.form-group {
	padding: .5em;
}
.form-group input:focus {
	outline: none;
	border-color: #777;
}

.form-group.success input {
	border-color: var(--success-color);
	border-width: medium;
}

.form-group.error input {
	border-color: var(--error-color);
	border-width: medium;
}

.form-group small {
	color: var(--error-color);
	display: none;
}
.form-group.error small {
	display: block;
}

.form-group small.text-muted {
	display: inline;
}

.form-group.error small.text-muted {
	display: none;
}

/* footer  */

.footer {
	background-color: #ff8c00;
	color: white;
	padding: 2rem 2rem;
	font-size: 1.4rem;
}

a {
	color: #fff;
}
