@keyframes moveLeft {
	0%{
		opacity:0;
		transform: translateX(-100px);

	}
	80% {
		transform: translateX(15px);
	}
	100% {
		opacity:1;
		transform: translateX(0);
	}

}

@keyframes moveRight {
	0%{
		opacity:0;
		transform: translateX(100px);
	}
	80% {
		transform: translateX(-15px);
	}
	100%{
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveBtn {
	0%{
		opacity:0;
		transform: translateY(50px);
	}
	
	100%{
		opacity: 1;
		transform: translate(0);
	}
}

/*Body*/

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	padding: 20px;
	font-family: 'Fredericka the Great', cursive;
	color: #ff8c00;
	/*background-color: #fff;*/
	text-align: center;
}

/*Header*/

.header {
	height: 95vh;
	background-image: linear-gradient(to right bottom, 
	rgba(143, 168, 84, 0.5), 
	rgba(240, 242, 188, 0.5)),
	url(../img/fruits.jpg);
	background-size: cover;
	background-position: center;
	-webkit-clip-path: polygon(0 0, 100% 5vh, 100% 100%, 0 100%);
	position: relative;
}

.heading-p {
	color: #fff;
	text-transform: uppercase;

	backface-visibility: hidden;

}

.heading-pmain {
	display: block;
	font-size: 60px;
	letter-spacing: 20.1px;
	font-weight: 400;
	animation-name: moveLeft;
	animation-duration: 1s;
	animation-timing-function: ease-out;
}

.heading-smain {
	display: block;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 11.4px;
	animation-name: moveRight;
	animation-duration: 1s;
	animation-timing-function: ease-out;
}

.text-box {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.btn:link,
.btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 25px;
	padding: 10px 30px;
	display: inline-block;
	border-radius: 100px;
	transition: all .2s;
	position: relative;
}
.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.btn-white {
	background-color: #fff;
	color: #ff8c00;
}

.btn-animate {
	animation: moveBtn .5s ease-out .75s;
	animation-fill-mode: backwards;
 }

.btn::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all .4s;
}

.btn-white::after {
   background-color: #fff;
}

.btn:hover::after{
	transform: scaleX(1.1) scaleY(1.4);
	opacity: 0;
}

/*Welcome*/
.welcome {
	padding-top: 20px;
}

/*Selection*/
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 3 1fr;
	margin: 50px auto;
}



img {
	height: 150px;
	width: auto;
	padding: 7px;
}

.up {
	padding-bottom: 20px;
}


/*Order Bar*/

.attention {
	font-size: 60px;
	letter-spacing: 20.1px;
	font-weight: 400;
}

.scroll {
	padding-right: 17px; 
	height:120px; 
	overflow-y: scroll; 
	position: relative;"
}

.g2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 50px auto;
	padding-bottom: 50px;
}



